{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My personal portfolio</title>
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <script src="https://kit.fontawesome.com/c4254e24a8.js" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/eb35d31660.js" crossorigin="anonymous"></script>
</head>

<body>
    <div id="header">
        <div class="container">
            <nav>
               <img src="{% static 'img/logo.png'%}" class="logo">
                <ul id="sidemenu">
                    <li><a href="#header">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#services">Services</a></li>
                    <li><a href="#portfolio">portfolio</a></li>
                    <li><a href="#contact">Contact</a></li>
                    <i class="fas fa-times" onclick="closemenu()"></i>
                </ul>
                <i class="fas fa-bars" onclick="openmenu()"></i>
            </nav>
            <div class="header-text">
                <p>Full-Stack Developer</p>
                <h1>Hi, I'm <span>Ayuba</span><br> Ibrahim Olanrewaju <br></h1>
                <h1>a <span>Full-Stack Developer</span><br> From Nigeria</h1>
            </div>
        </div>
    </div>
    <!--- ---------about------------ -->
    <div id="about">
        <div class="container">
            <div class="row">
                <div class="about-col-1">
                    <img src="{% static 'img/about-me.png'%}">
                </div>
                <div class="about-col-2">
                    <h1 class="sub-title">About Me</h1>
                    <p>I am a Full-stack Developer with over 5 years + skilled in designing web and software applications using various technologies such as Python, Javascript, CSS, HTML, and others. My expertise spans across both Frontend and Backend
                        development.
                    </p>
                    <div class="tab-titles">
                        <p class="tab-links active-link" onclick="opentab('skills')">Skills</p>
                        <p class="tab-links" onclick="opentab('experience')">Experience</p>
                        <p class="tab-links" onclick="opentab('education')">Education</p>
                    </div>
                    <div class="tab-contents active-tab" id="skills">
                        <ul>
                            <li><span>UI/UX</span><br>Designing Web/App interfaces</li>
                            <li><span>Web Development</span><br>Designing Web/App Frontend and Backend</li>
                            <li><span>App Development</span><br>Building Androi/iOS Applications</li>
                            <li><span>Photoshop</span><br>Graphics Designer</li>
                            <li><span>Consultant</span><br>ICT Consultant</li>
                            <li><span>Maintenance</span><br>PC Maintenance</li>
                        </ul>
                    </div>
                    <div class="tab-contents" id="experience">
                        <ul>
                            <li><span>2018 - Current </span><br>Backend Developer at Darey Digitals</li>
                            <li><span>2017 - 2018</span><br>ICT consultant at  Darey Digitals</li>
                            <li><span>2016 -2017</span><br>Graphic Designer at Planet Computer Training Institute</li>
                        </ul>
                    </div>
                    <div class="tab-contents" id="education">
                        <ul>
                            <li><span>2021 - 2024</span><br>Federal University of Maiduguri,Borno</li>
                            <li><span>2020 - 2021</span><br>Kwara State Polythecnic</li>
                            <li><span>2016 - 2019</span><br>Federal College of Agriculture, Akure</li>
                            <li><span>2013 - 2016</span><br>Holy Infant College</li>
                            <li><span>2011 - 2013</span><br>Decab Group of School</li>
                            <li><span>2005 -2010</span><br>Subeb Primary School</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--------------services----------->
    <div id="services">
        <div class="container">
            <h1 class="sub-title">My Services</h1>
            <div class="services-list">
                <div>
                    <i class="fas fa-code"></i></i>
                    <h2>Web Design</h2>
                    <p>Having expertise as a Full-Stack Developer with an experience of 4 years +, i possess a deep understanding of the technicalities involved in web development. This knowledge enables me to design and develop robust Web Softwares that
                        offer exceptional user experiences. Additionally, I am proficient in creating backend severs for web mobile and desktop applications, which seamlessly interact with each other through RESTful APIs.</p>
                    <a href="#">Learn more</a>
                </div>
                <div>
                    <i class="fas fa-crop-alt"></i>
                    <h2>UI/UX Design</h2>
                    <p>Having expertise as a UI/UX Designer with an experience of 4 years +, i possess a deep understanding of the technicalities involved in Designs. This knowledge enables me to design and develop robust project that offer exceptional user
                        experiences.
                    </p>
                    <a href="#">Learn more</a>
                </div>
                <div>
                    <i class="fas fa-app-store"></i>
                    <h2>App Design</h2>
                    <p>Having expertise as a Full-Stack Developer, i possess a deep understanding of the technicalities involved in web development. This knowledge enables me to design and develop robust software applications that offer exceptional user
                        experiences. Additionally, I am proficient in creating backend severs for web mobile and desktop applications, which seamlessly interact with each other through RESTful APIs.</p>
                    <a href="#">Learn more</a>
                </div>
            </div>
        </div>
    </div>
    <!-----------------------------Portfolio------------------------>

    <div id="portfolio">
        <div class="container">
            <h1 class="sub-title"> My Work</h1>
            <div class="work-list">
                <div class="work">
                    <img src="{% static 'img/work-1.jpg'%}">
                    <div class="layer">
                        <h3>Logo</h3>
                        <p>Explains more about you</p>
                        <a href="#"><i class="fas fa-external-link-alt"></i></a>
                    </div>
                </div>
                <div class="work">
                    <img src="{% static 'img/My Logo.jpg'%}">
                    <div class="layer">
                        <h3>Flier</h3>
                        <p>Helps in giving Positive view to brand</p>
                        <a href="#"><i class="fas fa-external-link-alt"></i></a>
                    </div>
                </div>
                <div class="work">
                    <img src="{% static 'img/login.png'%}">
                    <div class="layer">
                        <h3>Login page</h3>
                        <p>Helps keep track of users</p>
                        <a href="#"><i class="fas fa-external-link-alt"></i></a>
                    </div>
                </div>
            </div>
            <a href="#" class="btn">See more</a>
        </div>
    </div>

    <!----------------------------------Contact--------------------->

    <div id="contact">
        <div class="container">
            <div class="row">
                <div class="contact-left">
                    <h1 class="sub-title">Contact Me</h1>
                    <p><i class="fas fa-paper-plane"></i> ayubaibrahim105@gmail.com</p>
                    <p><i class="fas fa-phone-square-alt"></i>+2349084603569</p>
                    <div class="social-icons">
                        <a href="https://www.facebook.com/WfHoluwadamilarey/"><i class="fa-brands fa-facebook"></i></i></a>
                        <a href=""><i class="fab fa-twitter-square"></i></a>
                        <a href="https://www.instagram.com/Ola_graphics_official/"><i class="fab fa-instagram"></i></a>
                        <a href="https://www.linkedin.com/in/ayuba-ibrahim-41292a24b/"><i class="fab fa-linkedin"></i></a>
                    </div>
                    <a href="{% static 'img/Mycv.pdf'%}" download class="btn btn2">Download Cv</a>
                </div>
                <div class="contact-right">
                    {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        
                    <form action="submit" method="POST">
                        {% csrf_token %}
                        <input type="text" name="name" placeholder="Your Name" required>
                        <input type="email" name="email" placeholder="Your Email" required>
                        <textarea name="message" rows="6" placeholder="Your Message"></textarea>
                        <button type="submit" class="btn btn2">Submit</button>
                    </form>
                    <span id="msg"></span>
                </div>
            </div>
        </div>

        <div class="copyright">
            <p>copyright @ Ola Made with <i class="fas fa-heart"></i> </p>
        </div>
    </div>




    <script>
        var tablinks = document.getElementsByClassName("tab-links");
        var tabcontents = document.getElementsByClassName("tab-contents");

        function opentab(tabname) {
            for (tablink of tablinks) {
                tablink.classList.remove("active-link");
            }
            for (tabcontent of tabcontents) {
                tabcontent.classList.remove("active-tab");
            }
            event.currentTarget.classList.add("active-link");
            document.getElementById(tabname).classList.add("active-tab");
        }
    </script>
    <script>
        var sidemenu = document.getElementById("sidemenu");

        function openmenu() {
            sidemenu.style.right = "0";

        }

        function closemenu() {
            sidemenu.style.right = "-200px";

        }
    </script>
    <!--<script>
        const scriptURL = '<https://script.google.com/macros/s/AKfycbwlrcqVaRvsivFz44eYIOeA5yeh0NUpz_DOcdPBzLtM1bFmGn2-g_9RK4eaf7SL79dO/exec>'
        const form = document.forms['submit-to-google-sheet']
        const msg = document.getElementById("msg")

        form.addEventListener('submit', e => {
            e.preventDefault()
            fetch(scriptURL, {
                    method: 'POST',
                    body: new FormData(form)
                })
                .then(response => {
                    msg.innerHtml = "Message sent Successfully"
                    setTimeout(function() {
                        msg.innerHtml = ""
                    }, 5000)
                    form.reset()
                })
                .catch(error => console.error('Error!', error.message))
        })
    </script>-->

</body>

</html>